.App {
  height: 100vh;
}

.header {
  height: 10%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e9eb;
  padding-left: 5vw;
  padding-right: 5vw;
  justify-content: space-between;
}

.header-text {
  color: #000;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.body {
  height: 90%;
  position: relative;
  background-color: #fafafa;
}

.add-task-button {
  text-decoration: none;
  background-color: #2563eb;
  color: #fff;
  padding: 7px 20px;
  border-radius: 4px;
  font-weight: 500;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus-icon {
  font-size: 28px;
  margin-right: 12px;
}