.task {
    background-color: #fff;
    width: 90vw;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    border: 1px solid #e7e9eb;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task:hover {
    background-color: #f0f4ff;
    cursor: pointer;
}

.task-link {
    text-decoration: none;
    color: #162c17;
    font-size: 18px;
    font-weight: 500;
    /* text-decoration: underline; */
}

.task-content {
    margin-left: 30px;

}

.task-completed-checkbox {
    height: 25px;
    width: 25px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    border: 2px solid #162c17;
    border-radius: 4px;
}

.task-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.task-actions {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.task .delete-action {
    color: #ff4d4d;
    cursor: pointer;
    font-size: 24px;
}

.task .delete-action-button {
    background: #ffe6e6;
    padding: 4px !important;
    border-radius: 4px;
    margin-left: 15px;
    border: none;
    padding: 0;
}