.custom-checkbox {
    height: 15px;
    width: 15px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #888;
    background-color: #fafafa;
}

.checkmark {
    font-size: 16px;
}