.custom-checkbox {
    height: 15px;
    width: 15px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #888;
    background-color: #fafafa;
}

.checkmark {
    position: absolute;
    top: 2px;
    left: 7px;
    width: 6px;
    height: 12px;
    border: solid #162c17;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}