.tasks-list-subpage {
  height: 100%;
  width: 100%;
}

.tasks-list-subpage .tasks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.tasks-list-subpage .actions {
  display: flex;
  width: 90vw;
  margin: auto;
  justify-content: flex-end;
  padding-top: 25px;
}

