.tasks-details-subpage {
    width: 85%;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 20px;
}

.tasks-details-subpage .task-details-container {
    height: 90%;
    width: 95%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tasks-details-subpage .reset-button {
    text-decoration: none;
    background-color: #f3f4f6;
    color: #000;
    padding: 7px 20px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-right: 10px;
} 

.tasks-details-subpage .task-details-form-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    width: 95%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 20px;
}

.tasks-details-subpage .content {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #e7e9eb;
}

.tasks-details-subpage .field label {
    font-weight: bold;
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.tasks-details-subpage .field {
    margin: 15px 0;
}

.tasks-details-subpage .field-value {
    width: 100%;
    font-size: 16px;
    padding: 8px;
    box-sizing: border-box;
}

.tasks-details-subpage .task-details-form-submit-button {
    text-decoration: none;
    background-color: #2563eb;
    color: #fff;
    padding: 7px 20px;
    border-radius: 4px;
    font-weight: 500;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.tasks-details-subpage .save-icon {
    font-size: 18px;
    margin-right: 10px;
}