.tasks-list-subpage {
  height: 100%;
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;

  .tasks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    width: 1200px;
  }

  @media (max-width: 480px) {
    .tasks-container {
      width: 95%;
    }


  }

  @media (max-width: 1199px) and (min-width: 481px) {
    .tasks-container {
      width: 95%;
    }
  } 

  .no-task-found-message {
    font-size: 16px;
    color: #64748b;
    font-weight: 500;
    text-align: center;
    max-width: 300px;
  }

  .no-tasks-found {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .no-task-found-icon {
    font-size: 64px;
    color: #64748b;
  }


  .body-header {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  .body-header-subtitle {
    font-size: 16px;
    color: #64748b;
    margin-top: 4px;
  }

  .body-header-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .add-task-button {
    text-decoration: none;
    background-color: #2563eb;
    color: #fff;
    padding: 8px 25px;
    border-radius: 8px;
    font-weight: 500;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
  }

  .actions {
    display: flex;
    width: 90vw;
    margin: auto;
    justify-content: flex-end;
    padding-top: 25px;
  }
}